<div class="col-lg-12">
	<img>
	<ul class="list-group">
		<li class="status list-group-item"></li>
		<li class="cd-number list-group-item"></li>
		<li class="cd-title list-group-item"><%= cd.titla %></li>
		<li class="cd-artist list-group-item"><%= cd.artist %></li>
		<li class="cd-release list-group-item"><%= cd.release %></li>
		<li class="cd-price list-group-item"><%= cd.price %></li>
		<li class="cd-label list-group-item"><%= cd.label %></li>
		<li class="cd-genre list-group-item"><%= cd.genre %></li>
	</ul>
	<%= linl_to "編集", edit_admin_cd_path(@cd), class:"" %>
	<%= link_to "削除", admin_cd_path, class:"" %>
</div>

<div class="col-lg-12">
	<p><%= song.title %></p>
</div>



