<div class="col-lg-12">
	<img>
	<ul class="list-group">
		<li class="status list-group-item"></li>
		<li class="cd-number list-group-item"></li>
		<li class="cd-title list-group-item"><%= @cd.title %></li>
		<li class="cd-artist list-group-item"><%= @cd.artist_id %></li>
		<li class="cd-release list-group-item"><%= @cd.release_date %></li>
		<li class="cd-price list-group-item"><%= @cd.price %></li>
		<li class="cd-label list-group-item"><%= @cd.label_id %></li>
		<li class="cd-genre list-group-item"><%= @cd.genre_id %></li>
		<li class="cd-genre list-group-item"><%= @cd.type %></li>
	</ul>
	<%= link_to "編集", edit_admin_cd_path(@cd), class:"" %>
	<%= link_to "削除", admin_cd_path, class:"" %>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h4>収録曲</h4>
    <% @discs.each do |disc| %>
      <p><label>ディスクNo.</label><%= disc.disc_number %></p>
      <ul class="song-list">
        <% disc.song_titles.each do |song_title| %>
          <li><%= song_title.song %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>



