<h3>購入者：<%= @order.first_name %><%= @order.last_name %></h3>

<h3>購入日：<%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></h3>

<h3>送付先：<%= @order.address %></h3>

<h3>ステータス：<%= @order.status %></h3>

<div class="contaiber">
　　<div class="row">
		<table class="table">
		　　<thead></thead>
			<tbody>
				<% @order.order_products.each do |product| %>

				    <th><%= product.cd.title %></th>

					<th><%= product.order_count %><a>個</a></th>

					<th><a>小計：￥<%= product.subtotal_price %></a></th>

				  </tr>
				<% end %>
					<tr>
						<th><a>購入金額合計：</a><%= @order.total_price %><a>(税込)</a></th>

						<th><a>送料：￥<%= @order.postage %>を含む</a></th>
					</tr>
			</tbody>
		</table>
	</div>
</div>