<h2>配送先住所の登録</h2>

<%= form_for @deliverly_address, url: enduser_deliverly_addresses_path do |f| %>

  <div class="form-main">

    <br>

    <div class="form-group1">
      <label class="form-sub">受取人の名前</label>
      <br>
      <%= f.text_field :name %>
    </div>

    <br>

    <div class="form-group1">
      <label class="form-sub">郵便番号</label>
      <br>
      <%= f.text_field :postcode  %>
    </div>

    <br>
    <br>

    <div class="form-group1">
      <label class="form-sub">住所</label>
      <br>
      <%= f.text_field :address  %>
    </div>

    <div class="form-group2">
       <%= f.submit "登録する" %>
    </div>
  </div>

<% end %>