<% if flash[:create_false] %>
	<div id="error_explanation" class="alert alert-danger">
	    <%= flash[:create_false] %>
	</div>
<% end %>


<div>
<% if @order.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
          	<p><%= @order.errors.count %>errors prohibited this obj from being saved</p>
           <ul>
              <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
           </ul>
          </div>
<% end %>
</div>

<div class ="index-center">
　　<h3>注文確認</h3>
</div>

<br>

<% sum = 0 %>
<% @cart_items.each do |item| %>
  <% sum += item.item_count * item.cd.price %>
<% end %>
<% sum_intax = (sum * @tax.tax_rate) %>
<% sum_price = sum_intax.to_i + @postage.postage %>

<div class ="index-center">
	<% if sum_intax == 0 %>
		<h3>
			カートに商品がありません
		</h3>
    <% else %>
		<h3>
			合計金額：￥<%= sum_price %>
		    <a class = 'text-size'>※送料<%= @postage.postage %>円を含む</a>
		</h3>
	<% end %>
</div>

<br>
<br>

<!-- ラジオボタンのオンオフ機能 -->
<script>
$(function(){
    var nowchecked = $('input[name=address_button]:checked').val();
    $('input[name=address_button]').click(function(){
        if($(this).val() == nowchecked) {
            $(this).prop('checked', false);
            nowchecked = false;
        } else {
            nowchecked = $(this).val();
        }
    });
});
</script>

<!-- delibery_addressでの送り先住所選択 -->
<div class ="index-center">
	<%=form_for(@order, url:enduser_orders_path) do |f| %>
	<% if current_endusers_enduser.delivery_addresses.present? %>
	<%= radio_button_tag( "address_button", 1 ) %>
		<%= f.label :address, "配送先の選択", class: "form-label" %>&emsp;
		<%= select_tag "address_id", options_from_collection_for_select(current_endusers_enduser.delivery_addresses.all, :id, :address), :prompt => "選択してください", class: "form-field" %>
	<% end %>
</div>

<br>
<br>

<!-- 新規住所を記入しての住所記入 -->
<div>
	<div class="index-center">
	  <label class="form-label">
	    <%= radio_button_tag( "address_button", 2 ) %>新しい住所を設定する&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	  </label>
	  <br>
	  <label class="form-sub">受取人の苗字：</label><%= f.text_field :first_name %>
	  <br>
	   <label class="form-sub">受取人の名前：</label><%= f.text_field :last_name %>
	</div>

	<div class="index-center">
	  <label class="yuubin">郵便番号&emsp;&emsp;&emsp;:</label>
	  <%= f.text_field :postcode  %>
	</div>

	<div class="index-center">
	  <label class="zyuusyo">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;住所&emsp;&emsp;&emsp;&emsp;&emsp;:</label>
	  <%= f.text_field :address , :size => "40*40" %>
	</div>
</div>

		<br>
		<br>

	<div class ="index-center">
		<label class = 'form-labe'>決算手段 &emsp;
		    <select name=”pry_method”>
		    	    <option value=”pry”>選択してください</option>
					<option value=”pry1”>銀行支払い</option>
					<option value=”pry2”>代引き</option>
					<option value=”pry3”>クレジットカード</option>
			</select>
	    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	</div>
</div>

<br>
<br>

<div class ="index-center">
  <% if @cart_items.present? %>
    <%= f.submit "購入する", class: "btn-lg" %>
  <% end %>
  <%= link_to 'カート一覧に戻る', enduser_cart_items_path, class: "btn-lg" %>
</div>

<% end %>

<br>
<br>
