<div class ="index-center">
　　<h3>注文確認</h3>
</div>

<br>

<% sum = 0 %>
<% @cart_items.each do |item| %>
<% sum += item.item_count * item.cd.price %>
<% end %>
<% sum_intax = (sum * @tax.tax_rate) %>
<% sum_price = sum_intax.to_i + @postage.postage %>

<div class ="index-center">
	<h4>
		合計金額：￥<%= sum_price %>
	    <a class = 'text-size'>※送料<%= @postage.postage %>円を含む</a>
	</h4>
</div>


<br>
<br>

<div class ="index-center">
	<%=form_for(@order, url:enduser_orders_path) do |f| %>

		<%= f.label :address, "配送先", class: "form-label" %> <br>
		<%= f.collection_select :address, current_endusers_enduser.delivery_addresses.all, :address, :address, :prompt => "選択してください", class: "form-field" %>
</div>

<div class ="index-center">
	<h5>決算手段</h5>
    <select name=”pry_method”>
    	    <option value=”pry”>選択</option>
			<option value=”pry1”>銀行支払い</option>
			<option value=”pry2”>代引き</option>
			<option value=”pry3”>クレジットカード</option>
	</select>
</div>

<br>
<br>

<div class ="index-center">
  <%= f.submit "購入する", class: "btn" %>
  <%= link_to 'カート一覧に戻る', enduser_cart_items_path, class: "btn" %>
</div>

<% end %>

