
<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="about">
	<h1 style="color: white;">CD NEXT ONLINEとは?</h1>
	<p class="top-title" style="color: white;">バンド系専門のCD販売サイトです。<br>

	<p class="top-title" style="color: white; font-size: x-large;">CD NEXT ONLINEとは?</p>
	<p class="top-body" style="color: white;">バンド系専門のCD販売サイトです。<br>
		音楽の楽しみ方がストリーミングや動画での視聴が中心になっている今だからこそ、<br>
		アーティストたちがこだわり抜いて作成した<br>
		CDでの音楽を楽しみませんか?<br>
		CD NEXT ONLINEは皆さんがバンドの世界観を共有できる<br>
		架け橋になることを目標にしています。</p>
  <div class="ranking">
	<div class="cd-index container">
	  <h3 style="color: white;">Ranking</h3>
	     <% @all_ranks.each.with_index(1) do |cd, i| %>
	          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
	              <ul class="list-group">
	                <li class="image list-group-item">
	                  <%=link_to enduser_cd_path(cd.id) do %>
	                   <%= attachment_image_tag cd, :image, style: "width: 200px; height: 200px;", fallback: "no_image.png" %>
	                  <% end %>
	                </li>
	                <li class="status list-group-item">第<%= i %>位</li>
	                <li class="title list-group-item"><%= cd.title %></li>
	                <li class="artist list-group-item"><%= cd.artist.name %></li>
	              </ul>
	          </div>
	      <% end %>
	   </div>
	   <div class="image">
	    <%= image_tag 'logo3.png', style: "width: 300px; height: 300px;" %>
	   </div>
	</div>
  </div>
</div>

