<h2><%= @enduser.first_name %>さんの購入履歴一覧</h2>

<div class="contaiber">
　　<div class="row">
		<table class="table">
		　　<thead></thead>
			<tbody>
			  <% @orders.each do |order| %>
			    <tr>
					  <th>
					  	<%= link_to enduser_order_path(order.id) do %>
					  	<%= order.created_at.strftime("%Y-%m-%d") %>
					  	<% end %>
					  </th>
					  <th>
					  	 <% sum = 0 %>
						 <% order.order_products.each do |product| %>
						 <% sum += product.order_count %>
						 <% end %>
						    <a>
						    	<%= link_to enduser_order_path(order.id) do %>購入合計個数：
						        <%= sum %>個
						        <% end %>
						    </a>
					  </th>
					  <th>
							<a>
								<%= link_to enduser_order_path(order.id) do %>
								購入合計金額：<%= order.total_price %>円
								<% end %>
							</a>
					  </th>
					  <th>
					    <%= order.status %>
					  </th>
			      </tr>
			  <% end %>
			</tbody>
		</table>
	</div>
</div>

