<header>
</header>
<div class="main-contents">
  <% if flash[:notice] %>
  　<div class="flash">
  　　<%= flash[:notice] %>
    </div>
  <% end %>
 <div class="edit box text center">
  <h2>アカウント編集</h2>
  <%= form_for @user,url: admin_enduser_path do |f| %>
  <div class="container">
         <div class="form-group">
          <%= f.label '苗字' %>
          <%= f.text_field :first_name,placeholder:"苗字" %>
         </div>
         <div class="form-group">
          <%= f.label '名前' %>
          <%= f.text_field :last_name,placeholder:"名前" %>
         </div>
         <div class="form-group">
          <%= f.label 'フリガナ（苗字）' %>
          <%= f.text_field :reading_first_name,placeholder:"フリガナ（苗字)" %>
         </div>
         <div class="form-group">
          <%= f.label 'フリガナ（名前）' %>
          <%= f.text_field :reading_last_name,placeholder:"フリガナ（名前）" %>
         </div>
         <div class="form-group">
          <%= f.label '郵便番号' %>
          <%= f.text_field :postcode,placeholder:"郵便番号" %>
         </div>
         <div class='form-group'>
           <%= f.label '住所' %>
           <%= f.text_field :address,placeholder:"住所" %>
         </div>
         <div class='form-group'>
           <%= f.label '電話番号' %>
           <%= f.text_field :phone_number,placeholder:"電話番号" %>
         </div>
         <div class="text-center">
           <%= f.submit "Update user", class:"btn btn-default" %>
         </div>
  <% end %>
  </div>
</div>
</div>
</div>