<header>
</header>
<div class="container maincontents">
  <h3 class="title">ユーザー一覧</h3>
<div class="col-xs-12">
  <table class="table table-striped">
  	<thead>
  	 <tr>
  	 	<th>user id</th>
  	 	<th>user name</th>
  	 	<th>email</th>
  	 </tr>
  	</thead>
  	<% @users.each do |user| %>
  	<tbody>
  	 <tr>
  	   <th><%= link_to user.id,admin_enduser_path(user.id) %></th>
       <th><%= user.first_name %><%= user.last_name %></th>
  	   <th><%= user.email %></th>
  	 </tr>
  	</tbody>
  	<% end %>
  	<%= paginate @users, class: "paginate" %>
  </table>
</div>
</div>