<h2><%= @user.first_name %><%= @user.last_name %>さんの購入履歴一覧</h2>
<div class="container">
　　<div class="row">
		<table class="table table-striped">
		　　<thead>
			  <th>購入日時</th>
			  <th>受取人</th>
			  <th>合計個数</th>
			  <th>合計金額</th>
			  <th>受注状況</th>
		    </thead>
			<tbody>
			  <tr>
			    <% @orders.each do |order| %>
					  <th>
					  	<%= link_to admin_order_path(order.id) do %>
					  	<%= order.created_at.strftime("%Y-%m-%d %H:%M") %>
					  	<% end %>
					  </th>
					  <th>
					  	<%= order.first_name %>
					  	<%= order.last_name %>
					  </th>
					  <th>
						   <% sum = 0 %>
						   <% order.order_products.each do |product| %>
						   <% sum += product.order_count %>
						   <% end %>
						   購入合計個数：<%= sum %>個
					  </th>
					  <th>
						  購入合計金額：<%= order.total_price %>円
					  </th>
					  <th>
					  	<%= order.status %>
					  </th>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

