<header>
</header>
<div class="container main-contents">
  <div class="row">
    <h3>User info</h3>
    <% if flash[:notice] %>
    　<div class="flash">
    　　<%= flash[:notice] %>
     </div>
    <% end %>
    	<div class="col-md-6 col-md-offset-3">
    	  <table class="col-md-6 col-md-offset-3">
    	  <thead>
    	  	<tr>
    	  	<p class="text-center"><%= @user.first_name %><%= @user.last_name %></p>
    	  	</tr>
    	  </thead>
    	  <tbody>
    	  	<tr align = "center">
    	  	  <th>郵便番号</th>
    	  	  <td><%= @user.postcode %></td>
    	  	</tr>
    	  	<tr  align = "center">
    	  	  <th>住所</th>
    	  	  <td><%= @user.address %></td>
    	  	</tr>
    	  	<tr  align = "center">
    	  	  <th>電話番号</th>
    	  	  <td><%= @user.phone_number %></td>
    	  	</tr>
    	  	<tr  align = "center">
    	  	  <th>メールアドレス</th>
    	  	  <td><%= @user.email %></td>
    	  	</tr>
    	  </tbody>
    	  </table>
    	</div>
  </div>
</div>
<div class="container">
  <div class="col-md-2 col-md-offset-5">
    <div class="row">
        <%= link_to "編集", edit_admin_enduser_path, class:"btn btn-block btn-success" %>
        <%= link_to "購入履歴",orders_admin_enduser_path(@user.id), class:"btn btn-block btn-info" %>
        <%= link_to "削除",leave_admin_enduser_path(@user.id), class:"btn btn-block btn-danger" %>
    </div>
  </div>
</div>
