<div class="container cd-show">
  <div class="col-md-offset-1 col-lg-3"><%= attachment_image_tag @cd, :image, style: "width: 200px; height: 200px;", fallback: "no_image.png" %></div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="status list-group-item">販売状況：<%= @cd.sell_status %></li>
      <li class="cd-title list-group-item">タイトル：<%= @cd.title %></li>
      <li class="cd-artist list-group-item">アーティスト：<%= @cd.artist.name %></li>
      <li class="cd-release list-group-item">発売日：<%= @cd.release_date %></li>
      <li class="cd-price list-group-item">価格：<%= @cd.price %></li>
      <li class="cd-label list-group-item">レーベル：<%= @cd.label.name %></li>
      <li class="cd-genre list-group-item">ジャンル：<%= @cd.genre.name %></li>
      <li class="cd-genre list-group-item">タイプ：<%= @cd.type %></li>
    </ul>
    <% if endusers_enduser_signed_in? %>
    <% if current_endusers_enduser.already_favorited?(@cd) %>
      <div>
        <%= link_to enduser_destroy_favorites_path(@cd), method: :delete do %>
          <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
          <%= @cd.favorits.count %> いいね
        <% end %>
      </div>
    <% else %>
      <div>
        <%= link_to enduser_create_favorites_path(@cd), method: :post do %>
          <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
          <%= @cd.favorits.count %> いいね
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>

<% if @cd.stock > 0 %>
  <div class= "col-lg-2">
      <%= form_for (@Cart_items), url:enduser_cart_items_path(id: @cd.id) do |f| %>
        <%= f.submit "カートに追加する", class:"btn btn-default" %>
      <% end %>
  </div>
<% end %>

  <div class="col-md-4">
    <% @discs.each do |disc| %>
    <div class="cd-info">
      <div class="disc"><label>DiscNo.</label><%= disc.disc_number %></div>
      <ul class="list-group">
        <% disc.song_titles.each do |song_title| %>
          <li class="list-group-item"><%= song_title.song %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="col-lg-12">

      <div class="col-lg-4 new-review text-center">
        <% if @review.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <p><%= @review.errors.count %>errors prohibited this obj from being saved</p>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
          </div>
        <% end %>
        <% if endusers_enduser_signed_in? %>
        <h2>レビュー投稿</h2>
        <%= form_with(model: @review, url: enduser_reviews_path) do |f| %>
          <%= f.hidden_field :cd_id, value: @cd.id %>
          <div class="new-review-title">タイトル<br><%= f.text_field :review_title, class: "" %></div>
          <div class="new-review-body">内容<br><%= f.text_area :review_body, style: "width: 300px; height: 100px;" %></div>
          <div class="new-review-create"><%= f.submit '投稿', class: "btn btn-primary" %></div>
        <% end %>
        <% end %>
      </div>

      <div class="col-lg-8 review container">
        <% if flash[:create] %>
          <p class="success" style="color: green;"><%= flash[:create] %></p>
        <% end %>
        <% if flash[:update] %>
          <p class="success" style="color: green;"><%= flash[:update] %></p>
        <% end %>
        <h2>CDレビュー</h2>
　　　　　<!--非同期でのreviews差し込みをするパーシャルとjs着火用のid(comments_area)-->
        <div id="comments_area">
          <%= render partial: 'enduser/reviews/index', locals: { reviews: @reviews } %>
        </div>
      </div>
  </div>
</div>

