<div class="container">
  <div class="col-md-offset-1 col-lg-3"><%= attachment_image_tag @cd, :image, style: "width: 200px; height: 200px;", fallback: "no_image.png" %></div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="status list-group-item">販売状況：<%= @cd.sell_status %></li>
      <li class="cd-title list-group-item">タイトル：<%= @cd.title %></li>
      <li class="cd-artist list-group-item">アーティスト：<%= @cd.artist.name %></li>
      <li class="cd-release list-group-item">発売日：<%= @cd.release_date %></li>
      <li class="cd-price list-group-item">価格：<%= @cd.price %></li>
      <li class="cd-label list-group-item">レーベル：<%= @cd.label.name %></li>
      <li class="cd-genre list-group-item">ジャンル：<%= @cd.genre.name %></li>
      <li class="cd-genre list-group-item">タイプ：<%= @cd.type %></li>
    </ul>
    <% if current_endusers_enduser.already_favorited?(@cd) %>
      <div>
        <%= link_to enduser_destroy_favorites_path(@cd), method: :delete do %>
          <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
          <%= @cd.favorits.count %> いいね
        <% end %>
      </div>
    <% else %>
      <div>
        <%= link_to enduser_create_favorites_path(@cd), method: :post do %>
          <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
          <%= @cd.favorits.count %> いいね
        <% end %>
      </div>
    <% end %>
  </div>
<div class= "col-lg-2">
    <%= form_for (@Cart_items), url:enduser_cart_items_path(id: @cd.id) do |f| %>
      <%= f.submit "カートに追加する", class:"btn btn-default" %>
    <% end %>
</div>
  <div class="col-md-4">
    <% @discs.each do |disc| %>
    <div class="cd-info">
      <div class="disc"><label>ディスクNo.</label><%= disc.disc_number %></div>
      <ul class="list-group">
        <% disc.song_titles.each do |song_title| %>
          <li class="list-group-item"><%= song_title.song %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>