<div align="right">
	<div class="col-lg-11">
       <%= link_to '入荷履歴の追加', new_admin_arrival_cd_path, class: "btn btn-primary"%>
   </div>
</div>

<br>

<h2>入荷履歴</h2>

<div class="container">
　　<div class="row">
	  <div class ="col-lg-12">
		<table class="table tablestriped">
		　　 <thead><%= paginate @arrival_cds %>
			      <tr>
			      	  <th>入荷日</th>
			      	  <th>入荷商品</th>
			      	  <th>アーティスト</th>
			      	  <th>入荷個数</th>
			      </tr>
		    </thead>
			<tbody>
				<% @arrival_cds.each do |arrival| %>
			      <tr>
					  <th>
					  	<%= arrival.arrival_date.strftime("%Y-%m-%d") %>
					  </th>

					  <th>
						 <%= arrival.cd.title %>
					  </th>

					  <th>
						 <%= arrival.cd.artist.name %>
					  </th>

					  <th>
						<%= arrival.arrival_count %>
					  </th>
			      </tr>
			    <% end %>
			</tbody>
		</table>
	  </div>
	</div>
</div>



