<div class="signupbackimg">
  <div class="signup-top">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-7 col-md-4 text-center">
              <div class="form-login"></br>
                  <h4 class="login-font">Sign up</h4>
                  </br>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.label :苗字 %>
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "苗字", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    <%= f.label :名前 %>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "名前", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :苗字「フリガナ」 %>
                    <%= f.text_field :reading_first_name, autofocus: true, autocomplete: "苗字(フリガナ)", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    <%= f.label :名前「フリガナ」 %>
                    <%= f.text_field :reading_last_name, autofocus: true, autocomplete: "名前(フリガナ)", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :郵便番号 %>
                    <%= f.text_field :postcode, autofocus: true, autocomplete: "郵便番号", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :住所 %><br />
                    <%= f.text_area :address, autofocus: true, autocomplete: "住所", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :電話番号 %><br />
                    <%= f.text_field :phone_number, autofocus: true, autocomplete: "電話番号", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :password %>
                    <% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", :type => "password", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", :type => "password", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br>
                    <div class="wrapper">
                            <span class="group-btn">
                              <%= f.submit "Sign up", :class => "btn btn-primary btn-md" %><i class="fa fa-sign-in"></i>
                            </span>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
