<!DOCTYPE html>
<html>
  <head>
    <title>Cdonline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <% if admins_admin_signed_in? %>
        <div class="container">
          <%= link_to "CD NEXT ONLINE", admin_cds_path, id: "logo"%>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "新規商品の追加", new_admin_cd_path %></li>
              <li><%= link_to "入荷履歴", admin_arrival_cds_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  一覧 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "商品一覧", admin_cds_path %></li>
                  <li><%= link_to "ユーザー一覧", admin_endusers_path %></li>
                  <li><%= link_to "受注履歴一覧", admin_orders_path %></li>
                  <li><%= link_to "問い合わせ一覧", admin_inquires_path %></li>
                  <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
                  <li><%= link_to "レーベル一覧", admin_labels_path %></li>
                  <li><%= link_to "アーティスト一覧", admin_artists_path %></li>
                </ul>
              <li><%= link_to "ログアウト", destroy_admins_admin_session_path, method: :delete %></li>
            </ul>
          </nav>
        </div>
      <% elsif endusers_enduser_signed_in? %>
        <div class="container">
          <%= link_to "CD NEXT ONLINE", root_path, id: "logo"%>

          <%= search_form_for @q, url: enduser_search_path do |f| %>
            <div class="text-center search"><p class="kyeword" style="color: #fff;">商品名、アーティスト
              <%= f.search_field :title_or_artist_name_cont %>
              <%= f.submit class: 'btn btn-success' %></p>
            </div>
              <% end %>


          <nav>
            <ul class="nav navbar-nav navbar-right nav-items">
              <li><%= link_to "カート一覧", enduser_cart_items_path %></li>
              <li><%= link_to "#{current_endusers_enduser.first_name}さんのマイページ", enduser_enduser_path(current_endusers_enduser.id) %></li>
              <li><%= link_to "ログアウト", destroy_endusers_enduser_session_path, method: :delete %></li>
            </ul>
          </nav>
        </div>
      <% else %>
        <div class="container">
          <div class="cdonline"><%= link_to "CD NEXT ONLINE", root_path, id: "logo"%></div>
          <%= search_form_for @q, url: enduser_search_path do |f| %>
        <div class="text-center"><p class="kyeword" style="color: #fff;">商品名、アーティスト
          <%= f.search_field :title_or_artist_name_cont %>
          <%= f.submit class: 'btn btn-success' %></p>
        </div>
          <% end %>

          <nav>
            <ul class="nav navbar-nav navbar-right nav-items">
               <li><%= link_to "新規登録", new_endusers_enduser_registration_path %></li>
                   <li><%= link_to "ログイン", new_endusers_enduser_session_path %></li>
            </ul>
          </nav>
        </div>
      <% end %>
    </header>

    <%= yield %>

   <% unless admins_admin_signed_in? %>
    <footer>
      <p class="inquire"><%= link_to "お問い合わせ", enduser_inquires_form_path %></p>
    </footer>
   <% end %>
  </body>
</html>
